S3_DATA_LINK = 'https://bucket.s3.sa-east-1.amazonaws.com/nome_arquivo.csv'
ANALYSIS_ARTIFACT_PATH = '/path_to_root/churn-ml/data/analysis'
DATA_WRANGLING_ARTIFACT_PATH = '/path_to_root/churn-ml/data/processed'